# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# images
*xcf
*dia*
*ico
*svg
*autosave
logo*
bvs.png

# Backups
*bak

# dependencies
node_modules/
*/node_modules/*
keys/

# Hardhat files
election-system/cache
election-system/artifacts
election-system/hardhat.config.js

# key files
election-system/keys/public.pem
election-system/keys/private.pem

# TypeChain files
election-system/typechain
election-system/typechain-types

# solidity-coverage files
election-system/coverage
election-system/coverage.json

# Test contracts
election-system/contracs/ElectionRegister.sol
election-system/contracs/VoteLedger.sol
election-system/contracs/Tally.sol

# Hardhat Ignition default folder for deployments against a local node
election-system/ignition/deployments/chain-31337

# testing

# production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Data
election-system/api*.json

# misc
/cache
election-system/api/deployment-address.txt
election-system/api/*json
.vscode

election-system/hardhat.config.js
election-system/admin-ui/src/reportWebVitals.js
election-system/admin-ui/.next/cache/*
election-system/admin-ui/.next/server/chunks/*
election-system/nextFE/bvs/public/contracts/*
election-system/nextFE/bvs/dist/*

election-system/nextFE/bvs/package-lock.json
election-system/nextFE/.next/trace
*lock.json
election-system/frontend.zip

release/*
