# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/election-system/frontend/node_modules

# Hardhat files
/election-system/cache
/election-system/artifacts
/election-system/hardhat.config.js

# TypeChain files
/election-system/typechain
/election-system/typechain-types

# solidity-coverage files
/election-system/coverage
/election-system/coverage.json

# Test contracts
/election-system/contracs/ElectionRegister.sol
/election-system/contracs/VoteLedger.sol
/election-system/contracs/Tally.sol


# Hardhat Ignition default folder for deployments against a local node
election-system/ignition/deployments/chain-31337

# testing
/election-system/frontend/coverage
/election-system/frontend/npm-debug.log*

# production
/election-system/frontend/build
/election-system/frontend/cache
/election-system/frontend/npm-debug.log*

# misc
/cache
