body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  font-size: 1em;
  margin: 0;
  border: 0;
  width: 101.3%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;  
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;  
  text-align: center;
  text-decoration: none;  
}

nav ul li.title {
  float: right;
  color: white;
  text-align: right;
  padding-right: 30px;
}

div {
  padding: 15px;
}

div div {
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

#ballot {
  max-width: 20cm;
}

div .row {
  border: 1px dotted black;
  margin: -1px 0 0 -1px;
  
}

/* Floating column for labels: 25% width */
.col-5 {
  float: right;
  width: 5%;
  margin-top: 6px;
  display: table-cell;
}

/* Floating column for inputs: 75% width */
.col-95 {
  float: left;
  width: 95%;
  margin-top: 6px;
  display: table-cell;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.border {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
  border: 1px solid black;
}

.btn {
  max-height: 10px;
  padding: 0;
  margin: 0;
}

#ContractAddress {
  display: inline;
}

